<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <title> Game </title>
</head>
<body>
    <main class="main">
        <h1 class="main_title"> The Most General RPG Game... by Sandro </h1>  
        <section class="main_choice">    
            <label for="name">
                <span>
                    Digite seu nome: 
                </span>
                <input type="text" name="name" id="name">
            </label>
            <label for="class">
                <input type="radio" name="class" id="archer"> <span> Arqueiro </span>
                <input type="radio" name="class" id="knight"> <span> Cavaleiro </span>
                <input type="radio" name="class" id="mage"> <span> Mago </span>
            </label>
            <input type="button" value="Iniciar Jornada" id="btnStart">
        </section>
    </main>
    <script src="../Scripts/main.js"></script>
</body>
</html>